h1{
    font-family: 'Lora', serif;
    font-size: 30px;
}

p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
}

h3{
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-image: linear-gradient(90deg,#fff 0%, #14FFEC 200%);
}

.bdn{
    background-color: #212121;
    font-family: 'Titillium Web', sans-serif;
}

.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #14FFEC;
}

.dropdown-menu{
    background-color: #212121;
}

.dropdown-item{
    color: #fff;
}

.dropdown-toggle{
    color: #fff;
}

.dropdown-toggle:hover{
    color: #14FFEC;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{
    background-color: #14FFEC;
    color: #212121;
}

.contenedor-modal .btn{
    background-color: #14FFEC;
}

.modal-header{
    background-color: #212121;
    color: #fff;
}

.boton-tabla{
    background-color: #14FFEC;
}
