.bdn{
    background-color: #212121;
    font-family: 'Titillium Web', sans-serif;
}

.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #14FFEC;
}

.dropdown-menu{
    background-color: #212121;
}

.dropdown-item{
    color: #fff;
}

.dropdown-toggle{
    color: #fff;
}

.dropdown-toggle:hover{
    color: #14FFEC;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{
    background-color: #14FFEC;
    color: #212121;
}





p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: 'Titillium Web', sans-serif;
}






body {
    background-image: linear-gradient(90deg, #fff 0%, #14FFEC 200%);
}

.contenedorBody{
    text-align: center;
    background-color: transparent;
}

#mensajeSuperior {
    background-color: transparent;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 5%;
}

#burbuja{
    background-color: rgb(255, 255, 255,0.30);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 20px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

#mensajeSuperior p {
    background-color: transparent;
    color: rgb(33, 33, 33);
    font-family: 'Hind Siliguri', sans-serif;
}





#mensajeFiltros{
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 10%;
    margin: 0%;
    text-align: left;
    background-color: transparent;
}

form{
    padding: 3px;
    background-color: transparent;
}

input{
    max-width:400px;
    border-radius:2px;
    border-top: 0;
    border-left: 0;
	padding:20px;
    text-align: center;
	padding: 0;
    background-color: white;
}

label{
    background-color: transparent;

}

label p {
    background-color: transparent;
    color: rgb(33, 33, 33);
    margin: 0%;
    padding: 3px;
}



.contenedorTabla{
    margin-right: 10%;
}

table{ /*seccion*/
    padding-top: 2%;
    padding-bottom: 5%;
    border-collapse: separate;
}


#filaTitulos{
    font-family:'Hind Siliguri', sans-serif;
    font-size: large;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 233, 177);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
}

td{
    font-family: 'Lora', sans-serif;
    color: rgb(33, 33, 33);
    text-align: center;
    background-color: rgb(255, 233, 177) !important;
    border-radius: 3px;
    border-color: rgb(33, 33, 33, 1);
    padding: 5px;
}

td button{
    background-color: transparent;
   border: none;
   border-bottom: none;
}

td button img{
    width: 30px;
}