<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeThink</title>
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="styleDashboard.css">
  <!--FONTS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Titillium+Web&display=swap"
    rel="stylesheet">
</head>

<body>
      <!-- INICIO NAVBAR -->
    <nav class="navbar navbar-expand-sm bdn">
    
      <div class="container-fluid">
        <div>
          <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
            <img src="/img/logos/logo-diamante-blanco.png" style="width: 50px; height: auto; margin-right: 5px;"
              alt="diamante">
            <img src="/img/logos/logo-blanco.png" style="width: 105px; height: auto;" alt="logo">
          </a>
        </div>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 py-2">
            <li class="nav-item">
                  <img src="https://see.fontimg.com/api/renderfont4/vmpKZ/eyJyIjoiZnMiLCJoIjo0MSwidyI6MTAwMCwiZnMiOjQxLCJmZ2MiOiIjMzNFMkRDIiwiYmdjIjoiIzAxMDEwMSIsInQiOjF9/ZGFzaGJvYXJk/ceceps-handwriting.png" alt="dashboard">
            </li>
          </ul>
    
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <span>Nombre Apellido</span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href=#>Perfil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesion</a></li>
            </ul>
          </div>
    
        </div>
      </div>
    </nav>
    <!-- FIN NAVBAR -->


  <!-- INICIO CARDS -->
  <div class="container-fluid mt-1">
    <div class="row">
      <section class="cards d-flex justify-content-center">

          <a th:href="@{/proyecto/tablaProyectos}">
          <div class="card">
            <div class="card__image-holder">
              <img class="card__image" src="/img/botones/Proyectos1.png" alt="img" />
            </div>
            <div class="card-title">
              <h2> Filtro por Proyecto</h2>
            </div>
            <div class="card-description">
              Se listaran todos los proyectos y podra filtrarlos por sus atributos
            </div>
          </div>
        </a>

        <a th:href="@{/admin/tablaTrabajadores}">
          <div class="card">
            <div class="card__image-holder">
              <img class="card__image" src="/img/botones/Trabajadores.png" alt="img" />
            </div>
            <div class="card-title">
              <h2> Filtro por Trabajador</h2>
            </div>
            <div class="card-description">
              Se listaran todos los trabajadores y podra filtrarlos por sus atributos
            </div>
          </div>
        </a>

        <a th:href="@{/admin/tablaClientes}">
          <div class="card">
            <div class="card__image-holder">
              <img class="card__image" src="/img/botones/User Avatar_Isometric.png" alt="img" />
            </div>
            <div class="card-title">
              <h2> Filtro por Usuario </h2>
            </div>
            <div class="card-description">
               Se listaran todos los usuarios/clientes y podra filtrarlos por sus atributos
            </div>
          </div>
        </a>
      </section>
    </div>

    <div class="row">
      <section class="cards d-flex justify-content-center">
        <div class="card">
          <div class="card__image-holder">
            <img class="card__image" src="/img/botones/help.png" alt="img" />
          </div>
          <div class="card-title">
            <h2 id="Ayuda"> Atencion Tecnica </h2>
          </div>
          <div class="card-description">
              Solicite ayuda al siguiente email: serTecGrupo3EGG@gmail.com
          </div>
        </div>
        <div class="card">
          <div class="card__image-holder">
            <img class="card__image" src="/img/botones/Video Editor_Flat.png" alt="img" />
          </div>
          <div class="card-title">
            <h2> Tutorial de uso</h2>
            <!--LINK VIDEO -->
          </div>
          <div class="card-description">
            Ante cualquier consulta de como usar la pagina, por favor, mire este tutorial
          </div>
        </div>
        <div class="card">
          <div class="card__image-holder">
            <img class="card__image" src="/img/botones/advertencia.png" alt="img" />
          </div>
          <div class="card-title">
            <h2> Advertencias</h2>
          </div>
          <div class="card-description">
            Por favor, no se olvide que cambios y/o eliminacion que realice no se podran revertir
          </div>
        </div>
    </div>
    </section>
  </div>
  <!-- FIN CARDS -->

   <!-- JAVASCRIPT -->
   <script src="/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
     crossorigin="anonymous"></script>
</body>
</html>