<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeThink</title>
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- ICONOS BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
        <!-- INICIO NAVBAR -->
    <div class="container-fluid bdn">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
          <img src= "img/logos/logo-diamante-blanco.png"  style="width: 15%;" alt="logo">
        </a>
          
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-ul">Inicio</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <a href="/registro"><button type="button" class="btn boton-registrate mx-2">Registrate</button></a>
          <a href="/login"><button type="button" class="btn btn-outline boton-iniciar-sesion me-2">Iniciar Sesion</button></a>
        </div>
      </header>
    </div>
      <!-- FIN NAVBAR -->
      
       <section class="container-fluid contenedorLogin">
        
        <div class="row">
         <div class="container-fluid text-black text-center py-2 mt-2">
            <img src="/img/logos/logo-negro.png"  class="pt-2" alt="" style="width: 250px; height: 60px;">
          </div>
        </div>
        
        <div class="row">
        <div class="container-fluid d-flex justify-content-center align-items-center mt-5">
            
            <img src="/img/World wide web_Flatline.svg" style="width: 400px" class="imagen-login">
   
            <form th:action="@{/logincheck}" method="POST" class="form-login">


                <div class="d-flex justify-content-start flex-column  mt-3">
                    <input class="texto" name="email" type="email" placeholder="Email" required>
                    
                    <input class="texto" name="password" type="password" placeholder="Contraseña" required>
               
                </div>  
                 <div class="d-flex justify-content-end fw-lighter contenedor-span">
                <span class="mt-3">No tenes cuenta? <a href="/registro">Registrate</a> </span>
                </div>
                <div class="d-flex justify-content-center  mt-4">
                <button type="submit" class="btn boton-iniciarSesion">Iniciar Sesion</button>  
                </div>
                 <div class="d-flex justify-content-center fw-lighter contenedor-span mt-2">
                     <a href="#"><span>¿Has olvidado tu contraseña?</span></a>
                </div>
                <div class="d-flex justify-content-center text-danger text-uppercase contenedor-span mt-5 fw-semibold animate__animated animate__flash">
                     <span th:text="${error}"></span>
                </div>
            </form>
     
        </div>
        </div>
    </section>


    <!-- JAVASCRIPT BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>