<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeThink</title>
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- ICONOS BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/GestionDePublicidad/src/main/resources/static/crearProyecto.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Titillium+Web&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- INICIO NAVBAR -->
  <div class="container-fluid bdn">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
        <img src="/img/logos/logo-diamante-blanco.png" style="width: 15%; margin-right: 10px;" alt="diamante">
        <img src="/img/logos/logo-blanco.png" alt="WeThink" style="width: 35%;">
      </a>

      <div style="margin-left: -150px;">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

        </ul>
      </div>

      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <span>Nombre Apellido</span>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesion</a></li>
        </ul>
      </div>
    </header>
  </div>
  <!-- FIN NAVBAR -->

  <section class="container-fluid contenedorRegistro">

    <div class="row">
      <div class="container-fluid d-flex justify-content-center align-items-center mt-3">

        <form th:action="@{/proyecto/__${proyecto.id}__}" method="POST" class="form-registro">
          <div class="d-flex justify-content-start flex-column  mt-2">
            <!--nombre proyecto-->
            <label for="nombre">
              <p>Nombre/Titulo</p>
            </label>
            <input class="texto" id="nombre" name="nombre" type="text" th:value="$proyecto.nombre" required>
            <!--descripcion del proyecto-->
            <label for="descr">
              <p>Descripcion</p>
            </label>
            <input class="texto" id="descr" name="descripcion" type="text" th:value="$proyecto.descripcion" required>
            <!--trabajadores y clientes del proyecto-->
            
            <p>Trabajadores/Clientes</p>
            <div class="row">
              <div class="column-6">
                <table class="table">
                  <tbody th:each="trabajador:${proyecto.trabajadores}">
                    <tr>
                      <td scope="row" th:text="${usuario.nombre}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="column-6">
                <table class="table">
                  <tbody th:each="trabajador:${proyecto.clientes}">
                    <tr>
                      <td scope="row" th:text="${usuario.nombre}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Fechas del proyecto-->
            <label for="fechaInicio">
              <p>Fecha Inicio</p>
            </label>
            <input class="texto" id="fechaInicio" name="fechaInicio" type="date" th:value="$proyecto.fechaInicio"
              placeholder="inicio" required>
            <label for="fechaFin">
              <p>Fecha Fin</p>
            </label>
            <input class="texto" id="fechaFin" name="fechaFin" type="date" th:value="$proyecto.fechaFin"
              placeholder="fin" required>
            <!-- estado del proyecto-->
            <label for="estado">
              <p>Estado</p>
            </label>
            <select id="estado" name="estado">
              <option value="FINALIZADO">Finalizado</option>
              <option value="ENPROCESO">En Proceso</option>
              <option value="INICIADO">Iniciado</option>
            </select>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn boton-registrarte">Actualizar Datos</button>
          </div>
        </form>

        <div class="d-flex justify-content-center mt-3">
          <button type="submit" action="POST" class="btn boton-registrarte"><a
              th:action="@{/proyecto/agregarCliente/__${proyecto.ID}__}">Agregar Cliente</a></button>
          <button type="submit" action="POST" class="btn boton-registrarte"><a
              th:action="@{/proyecto/agregarTrabajador/__${proyecto.ID}__}">Agregar Trabajador</a></button>
        </div>

      </div>
    </div>
  </section>


  <!-- JAVASCRIPT BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>