<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeThink-Busqueda</title>
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- ICONOS BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/tablaProyectos.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Titillium+Web&display=swap"
    rel="stylesheet">
</head>

<body>
   <!-- INICIO NAVBAR -->
   <div class="container-fluid bdn">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
        <img class="diamante"
          src="https://see.fontimg.com/api/renderfont4/vmpKZ/eyJyIjoiZnMiLCJoIjo0MSwidyI6MTAwMCwiZnMiOjQxLCJmZ2MiOiIjMzNFMkRDIiwiYmdjIjoiIzAxMDEwMSIsInQiOjF9/ZGFzaGJvYXJk/ceceps-handwriting.png"
          alt="dashboars">
        <img id="lettering"
          src="https://see.fontimg.com/api/renderfont4/axgPE/eyJyIjoiZnMiLCJoIjo0MSwidyI6MTAwMCwiZnMiOjQxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/V2VUaGluaw/cannu-regular.png"
          alt="wethink">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/inicio}" id="inicio" class="nav-link px-2 link-ul">Inicio</a></li>
        <li><a href="/dashboard" class="nav-link px-2 link-ul">Atras</a></li>

      </ul>

      <div class="col-md-3 text-end">
        <a href="/perfil"><button type="button" class="btn boton-registrate">Mi perfil</button></a><!-- falta vista -->
        <a th:href="@{/logout}"><button type="button" class="btn btn-outline boton-iniciar-sesion me-2">Cerrar Sesion</button></a>
        <!-- falta accion -->
      </div>
    </header>
  </div>
  <!-- FIN NAVBAR -->

  <div class="contenedorBody">

     <!--INICIO/BIENVENIDA-->
  <div id="body">
      <section id="mensajeSuperior">
          <div id="burbuja">
              <h1>Clientes</h1>
              <p>A continuacion se listaran los clientes existentes en la base de datos, puede filtrarlos o no. Para modificar o eliminar debe acceder al mismo. </p>
          </div>
      </section>
      <!-- FIN INICIO/BIENVENIDA-->
      
      <!-- INICIO FILTROS -->
    <section id="mensajeFiltros">
      <form th:action="@{/admin/tablaClientes/search}" method="post"> <!-- VER -->
        <label for="nombre">
          <p>Filtro por nombre</p>
        </label>
        <input type="text" id="nombre" name="nombre" placeholder="Buscar por nombre"/>
        <button type="submit" class="btn btn-light">Buscar</button>
      </form>

<!--      <form th:action="@{/filtroPorEmail}" method="post"> &lt;!&ndash; VER &ndash;&gt;
        <label for="mail">
          <p>Filtro por E-mail</p>
        </label>
        <input type="text" id="mail" name="email" placeholder="Buscar por mail" />
        <button type="submit" class="btn btn-light">Buscar</button>
      </form>-->
    </section>
<!-- FIN FILTROS -->

<!-- INICIO TABLA -->
    <section class="contenedorTabla">
      <table>
        <thead>
          <tr id="filaTitulos">
            <th scope="col">Cliente</th>
            <th scope="col">E-mail</th>          
          </tr>
        </thead>
        <tbody th:each="usuario : ${usuarios}">
          <tr>
            <td th:text="${usuario.nombre}"> NOMBRE PRUEBA</td>
            <td th:text="${usuario.email}"> EMAIL PRUEBA</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- FIN TABLA -->

  </div>

</body>
</html>