<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeThink-Busqueda</title>
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- ICONOS BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/GestionDePublicidad/src/main/resources/static/tablaProyectos.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Titillium+Web&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- INICIO NAVBAR -->
  <div class="container-fluid bdn">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
        <img class="diamante"
          src="https://see.fontimg.com/api/renderfont4/vmpKZ/eyJyIjoiZnMiLCJoIjo0MSwidyI6MTAwMCwiZnMiOjQxLCJmZ2MiOiIjMzNFMkRDIiwiYmdjIjoiIzAxMDEwMSIsInQiOjF9/ZGFzaGJvYXJk/ceceps-handwriting.png"
          alt="dashboars">
        <img id="lettering"
          src="https://see.fontimg.com/api/renderfont4/axgPE/eyJyIjoiZnMiLCJoIjo0MSwidyI6MTAwMCwiZnMiOjQxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/V2VUaGluaw/cannu-regular.png"
          alt="wethink">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/inicio}" id="inicio" class="nav-link px-2 link-ul">Inicio</a></li>
        <li><a href="/dashboard" class="nav-link px-2 link-ul">Atras</a></li>
        <li><a href="" class="nav-link px-2 link-ul">Crear Proyecto</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/perfil"><button type="button" class="btn boton-registrate">Mi perfil</button></a><!-- falta vista -->
        <a th:href="@{/logout}"><button type="button" class="btn btn-outline boton-iniciar-sesion me-2">Cerrar
            Sesion</button></a>
        <!-- falta accion -->
      </div>
    </header>
  </div>
  <!-- FIN NAVBAR -->

  <div class="contenedorBody">

    <!--INICIO/BIENVENIDA-->
    <div id="body">
      <section id="mensajeSuperior">
        <div id="burbuja">
          <h1>Proyectos</h1>
          <p>A continuacion se listaran los proyectos existentes en la base de datos, puede filtrarlos o no. Para
            modificar o eliminar debe acceder al mismo. </p>
        </div>
      </section>
      <!-- FIN INICIO/BIENVENIDA-->

      <!-- INICIO FILTROS -->
      <section id="mensajeFiltros">
        <form th:action="@{/proyecto/tablaProyectos/nombre}">
          <label for="nombre">
            <p>Filtro por nombre</p>
          </label>
          <input type="text" id="nombre" name="nombre" placeholder="" />
          <button type="submit" class="btn btn-light">Buscar</button>
        </form>

        <form th:action="@{/proyecto/tablaProyectos/fechaInicio}">
          <label for="inicio">
            <p>Filtro por fecha de inicio</p>
          </label>
          <input type="date" id="inicio" name="fechaInicio" placeholder="" />
          <button type="submit" class="btn btn-light">Buscar</button>
        </form>

        <form th:action="@{/proyecto/tablaProyectos/fechaFin}">
          <label for="fin">
            <p>Filtro por fecha de fin</p>
          </label>
          <input type="date" id="fin" name="fechaFin" placeholder="" />
          <button type="submit" class="btn btn-light">Buscar</button>
        </form>

        <form th:action="@{/proyecto/tablaProyectos/estado}">
          <label for="estado">
            <p>Filtro por estado</p>
          </label>
          <select id="estado" name="estado">
            <option></option>
            <option value="FINALIZADO">Finalizado</option>
            <option value="ENPROCESO">En Proceso</option>
            <option value="INICIADO"> Iniciado</option>
          </select>
          <button type="submit" class="btn btn-light">Buscar</button>
        </form>


      </section>
      <!-- FIN FILTROS -->

      <!-- INICIO TABLA -->
      <section class="contenedorTabla">
        <table>
          <thead>
            <tr id="filaTitulos">
              <th scope="col">Nombre</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody th:each="proyecto:${proyectos}">
            <tr>
              <td th:text="${proyecto.nombre}"> NOMBRE PRUEBA</td>
              <!--LINKEAR-->
              <td th:text="${proyecto.fechaInicio}"> EMAIL PRUEBA</td>
              <td th:text="${proyecto.fechaFin}"> ROL PRUEBA</td>
              <td th:text="${proyecto.estadoProyecto}"> ROL PRUEBA</td>
            </tr>
          </tbody>
        </table>
      </section>
      <!-- FIN TABLA -->

    </div>

</body>

</html>