/*--
--------------------COLORES del oscuro al claro---------------------
rgb(33, 33, 33)
rgb(50, 50, 50)
rgb(13, 115, 119)
rgb(20, 255, 236)

------------------FUENTES -------------------------
font-family: 'Lora', serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Titillium Web', sans-serif;

*/
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,#fff 0%, #14FFEC 200%);
}

.bdn{
    background-color: #212121;
    font-family: 'Titillium Web', sans-serif;
}

.link-ul{
    color: #fff;
}
.link-ul:hover{
    color: #14FFEC;
}

.boton-iniciar-sesion{
    border-color: #14FFEC;
    color: #fff;
}

.boton-iniciar-sesion:hover{
    background-color: #14FFEC;
    color: #212121;
    transition: 0.3s  all;
}

.boton-registrate{
    background-color: #14FFEC;
    color:#212121;
}

.boton-registrate:hover{
    background-color: none;
    border-color: #14FFEC;
    color: #fff;
    transition: 0.3s  all;
}

.boton-iniciarSesion{
    backdrop-filter: blur(5px);
    background-color: #14FFEC;
    color:#212121;
}

.boton-iniciarSesion:hover{
    background-color:#00e3d0;
    transition: 0.3s  all;
}

.texto{
    font-family: 'Lora', sans-serif;
    background-color: rgb(255, 255, 255,0.30);
    backdrop-filter: blur(5px);
    border: 1px solid #14FFEC;
    outline: none;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
}

.texto:focus{
    background-image: linear-gradient(90deg,#fff 0%, #14FFEC 300%);
}

.contenedorLogin{ /*seccion*/
    background-image: linear-gradient(90deg,#fff 0%, #14FFEC 200%);
}

.form-login{
    width: 400px;
    height: 300px;
    padding: 25px 35px;
    box-shadow: 0 8px 30px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgb(255, 255, 255,0.30);
}

.imagen-login{
    position: absolute;
    right: 50px;
}

.contenedor-span{
    font-size: 14px;
}

.contenedor-span a{
    text-decoration: none;
    color: #888;
}

   
