/*--
--------------------COLORES del oscuro al claro---------------------
rgb(33, 33, 33)
rgb(50, 50, 50)
rgb(13, 115, 119)
rgb(20, 255, 236)

------------------FUENTES -------------------------
font-family: 'Lora', serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Titillium Web', sans-serif;

*/

h1, h2, h3{
    font-family:'Hind Siliguri', sans-serif;
    color:rgb(255, 233, 177);
}
    
p{
    font-family: 'Hind Siliguri', sans-serif !important;
    color: white !important;
}
    
.bdn {
    background-color: #212121;
    font-family: 'Titillium Web', sans-serif;
}

.boton-iniciar-sesion {
    border-color: #14FFEC;
    color: #fff;
}

.boton-iniciar-sesion:hover {
    background-color: #14FFEC;
    color: #212121
}

.boton-registrate {
    background-color: #14FFEC;
    color: #212121;
}

.boton-registrate:hover {
    background-color: none;
    border-color: #14FFEC;
    color: #fff;
}

.boton-enviar {
    background-color: #14FFEC;
}

.boton-enviar:hover {
    background-color: #11d3c3;
}

.link-ul {
    color: #fff;
}

.link-ul:hover {
    color: #14FFEC;
}



body{
    background-image: linear-gradient(90deg,#fff 0%, #14FFEC 200%);
}

#cuerpo{
    background-image: linear-gradient(90deg,#fff 0%, #14FFEC 200%);
}

#cards{
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0;
}

.card{
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
    border-radius: 5px;
    
}

.card:hover{
    cursor: pointer;
    transition: 0.15s ease-in-out 0s;
    border-color: rgb(20, 255, 236);
    box-shadow: 0.15s ease-in-out 0s ;
}

.card__image-holder{
    background: whitesmoke;
    height: 0;
    padding-bottom: 75%;
}

.card__image{
    background: whitesmoke;
    max-width: 298px;
}

.card-title{
    background:  whitesmoke;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}

.card-description{
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
    background:  rgb(255, 233, 177); 
    font-family: 'Hind Siliguri' !important;
    color:rgb(33, 33, 33);
}

.card-title h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    background-color:  whitesmoke;
    text-shadow:rgb(33, 33, 33) 0.5 0.5;
    color: rgb(119, 67, 219) !important;
    font-family: 'Titillium Web', sans-serif;
}



.footer{
     background-color: rgb(33, 33, 33);
}

#logoFooter{
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10%;
}

.nav-link{
    color: white !important;
}

